*.so
*__pycache__*
.directory
a.out
main/src/resources.h
main/src/resources.cpp
*.bkp
components
build
managed_components
main.ino.bin
iot-led-driver.bin
doc/pinout-usage.csv
doc/pinout-usage.md
logs.txt
logs.old
dependencies.lock
version.txt
