html, body {
    max-width: 100%; 
    font-family: Arial;
    @media (prefers-color-scheme: dark) { 
        color: white; 
        background: black;
    }
}

html {
    height: 100vh;
}

body {
    height: calc(100% - 16px);
}

summary, label, input[type=checkbox], input[type=radio], input[type=checkbox] {
    cursor: pointer;
}

h3 {
    margin-top: 10px;
}

select, button, input {
    @media (prefers-color-scheme: dark) { 
        color: white; 
        background: #202324;      
        border-color: #747d82;
        border-radius: 5px;
        border-width: 1px;
        padding: 2px 5px;
    }
}

select:hover , button:hover {
    @media (prefers-color-scheme: dark) { 
        color: white; 
        background: #333839;
    }
}

filterselector {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.knob-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

knob-input {
    touch-action: none;
    width: min-content;
}

.config-div {
    display: flex;
    flex-direction: column;
}

.details-div {  
    padding: 12px;
}

.info-div {
    color: gray;    
    @media (prefers-color-scheme: dark) { 
        color: darkgray;
    }
}

.menu-details {
    border: 1px solid lightgray;
    margin: 4px;
}

.menu-summary {  
    border: 1px solid gray;
    padding: 12px;
    font-size: larger;
    font-weight: bolder;
}

.menu-summary:hover {
    border: 1px solid gray;
    background-color: whitesmoke;
    @media (prefers-color-scheme: dark) { 
        background-color: #333839;
    }
}

.chart-info div {
    display: inline-flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    
    vertical-align: top;
    display: inline;
    margin: 8px 12px 1px 1px;
}

.chart-info {
    display: flex;
    flex-direction: column;
}

.chart-info span {
    margin-left: 5px;
}

#filters-div simple-chart {
    margin-top: 10px;
    margin-right: 5px;
}

simple-chart canvas {
    border-style: dashed dashed solid solid;
    border-color: lightgray lightgray black black;
    border-width: 1px 1px 2px 2px;  
    padding: 0.5px;
    @media (prefers-color-scheme: dark) { 
        border-color: gray gray white white;
    }
}

.name-header {
    text-align: center;
}

.main-page-button {
    text-align: center;
    cursor: pointer;
    margin: 0px 0px 8px 0px;
}

.hardware-table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 16px;
}

.hardware-table, .hardware-table tr, .hardware-table td {
    border-collapse: collapse;
    border: solid black 1px;
    @media (prefers-color-scheme: dark) { 
        border-color:white;
    }
}

.hardware-table td {
    text-align: center;
}

.hardware-table td:first-child {
    width: 80px;
    text-align: left;
}

.action-buttons {
    display: flex;
    flex-direction: row;
}

.action-buttons div, .small-action-buttons div, .button, .small-button, button {
    display: inline-block;
    text-align: center;
    width: 20vw;  
    padding: 5px;  
    margin: 4px;
    font-weight: bolder;
    cursor: pointer;
    border: 1.5px solid darkgray;
    background-color: inherit;
}

.small-action-buttons div, .small-button, button {
    width: auto;  
    padding: 2px;  
    margin: 2px;
}

.action-buttons div:hover, .small-action-buttons div:hover, button:hover {
    border: 1.5px solid gray;
    background-color: whitesmoke;
    @media (prefers-color-scheme: dark) { 
        background-color: #333839;
    }
}

.color-bar {
    display: inline-block; 
    width: 1.5em;
    height: 1.5em;  
    margin-bottom: -0.4em;  
    border: 0.5px solid #a9a9a947;
}


#networks-list  {
    border: 1px solid black;
    @media(prefers-color-scheme:dark) {
        border-color:white;
    }
}

#color-knob, #favorites-div {
    width: 100%;
    height: calc(100% - 2em);
    text-align: center;
}

#favorites-div table {  
    margin-left: auto;
    margin-right: auto;
}

.upper-menu {
    text-align: center;  
    margin: 0px;
}

@font-face {
    font-family: 'mask_font';
    src: url('/text_security.woff2');
}

.masked {
    -webkit-text-security: disc;
    -mox-text-security: disc;
    font-family: 'mask_font';
}

raw-color-picker input, .like-color-picker input {
    height: 1.8em;
    margin-right: 8px;
}

raw-color-picker table, .like-color-picker table {
    display: inline-block;
}

raw-color-picker input[type="color"] {
    width: 4em;
}

raw-color-picker input[type="range"] {
    appearance: none;  
    height: min-content;
    border-radius: 10px;
}


raw-color-picker input[type="range"][class="hue_input"] {
    background: linear-gradient(to right, red, yellow, green, blue, purple, red);
}

raw-color-picker input[type="range"][class="saturation_input"] {
    background: linear-gradient(to right, lightgray, gray);
}

raw-color-picker input[type="range"][class="value_input"] {
    background: linear-gradient(to right, black, white);
}

raw-color-picker input[type="range"][class="white_input"] {
    background: linear-gradient(to right, black, white);
}


.animation-stage, .animation-sequence-options {
    border: 1px solid black;
    padding: 12px;;
    display: block;
    @media(prefers-color-scheme:dark) {
        border-color:white;
    }
}

.animation-sequence {
    margin-top: 12px;
    margin-bottom: 12px;
}

.color-random-sample {
    display: block;
}

.div-color-sample {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 0.5px solid lightgray;
}

.stage-number-head .div-color-sample {
    float: right;
}

.next-stage-div .component-list-position-btn {
    display: none;
}
